<!doctype html>
<html>
<head>
    <title>Logged Out</title>
    <style>
        body {
            background: #eee;
        }
        main {
            background: #fff;
            width: 15%;
            margin: 5% auto;
        }
        h1 {
            margin: 0;
            font: inherit;
            color: #ffc;
            background: #417690;
            padding: 5px
        }
        section {
            padding: 0 10px 10px;
        }
    </style>
</head>
<body>
<main>
    <h1>Thanks for using the admin site</h1>
    <section>
        <p><a href="/admin/login/?next=/admin/blogs/">Log in again</a></p>
        <p><a href="http://designminted.com">Go to the website</a></p>
    </section>
</main>
</body>
</html>