<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    {% load staticfiles %}
    <link href="{% static "blogwebapi/css/styles.css" %}" rel="stylesheet">
    <script src="{% static "blogwebapi/js/jquery-2.1.4.min.js" %}"></script>
    <script src="{% static "blogwebapi/vendor/tinymce/tinymce.min.js" %}"></script>
{#    <script src="{% static "blogwebapi/vendor/tinymce/jquery.tinymce.min.js" %}"></script>#}
    <script src="{% static "blogwebapi/js/main.js" %}"></script>
</head>
<body>
    <main class="new-blog-form">
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>Blog</legend>
            <div class="row">
                <label for="page-type">Page Type:</label>
                <select id="page-type" name="page-type">
                    {% for type in pageTypes %}
                    <option value="{{ type.0 }}" {% if blog.page_type == type.0 %}selected{% endif %}>{{ type.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <label for="title">Title:</label>
                <input type="text" name="title" required
                        value="{% if blog != None %}{{ blog.blog_title }}{% endif %}"/>
            </div>
            <div class="row">
                <select id="content-type">
                    {% for type in types %}
                    <option value="{{ type.id }}">{{ type.type_name }}</option>
                    {% endfor %}
                </select>
                <input id="add-content" type="button" value="Add Content"/>
            </div>

            <section class="blog-content">
                <!-- content goes here -->
                {% if blog != None %}
                    {% for content in blog.contents.all %}
                        <div class="form-row" data-type="{{ content.content_type.id }}" data-position="{{ content.content_order }}" draggable="true" id="content-{{ content.id }}">
                        <input type="hidden" name="position" value="{{ content.content_order }}"/>
                        <input type="hidden" name="contentid" value="{{ content.id }}"/>
                        <input type="hidden" name="type" value="{{ content.content_type.id}}"/>
                        {% if content.content_type.type_name == "TEXT" %}
                            <label for="body">Body:</label>
                            <i class="fa fa-close fa-lg" onclick="removeContent(this, {{ content.id }})"></i>
                            <textarea name="body">{{ content.content_text }}</textarea>
                        {% elif content.content_type.type_name == "IMAGE" %}
                            <label for="image">Image:</label>
                            <i class="fa fa-close fa-lg" onclick="removeContent(this, {{ content.id }})"></i>
                            <input name="image" type="file"/>
                            <p><img src="/get-img/{{ content.id }}" alt="image"/></p>
                            <label for="caption">Caption:</label>
                            <input name="caption" id="caption" type="text" value="{% if content.content_caption != None %}{{ content.content_caption }}{% endif %}"/>
                        {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </section>
            {% if blog != None %}
            <input type="hidden" name="blogid" value="{{ blog.id }}" />
            {% endif %}
            <br/>
            <input type="button" value="Cancel" onclick="goBack()"/>
            <input type="submit" value="Save Blog"/>
        </fieldset>
    </form>
    </main>
    <script>
        window.contentCount = {{ blog.contents.all|length }}
        window.contentTypes = {};
        {% for type in types %}
            window.contentTypes['{{ type.type_name }}'] = {{ type.id }};
        {% endfor %}
    </script>
</body>
</html>