<div class="desktop-nav">
    <a href="{% url "index" %}"><div class="logo"></div></a>

    <section id="NavSection">
        <nav class="desktop">
            <a href="{% url "about" %}">
            <div class="nav-link">
                <span>About</span>
                <div class="underline"></div>
            </div></a>

            <a href="{% url "services" %}">
            <div class="nav-link">
                <span>Services</span>
                <div class="underline"></div>
            </div></a>

            <a href="{% url "portfolio" %}">
            <div class="nav-link">
                <span>Portfolio</span>
                <div class="underline"></div>
            </div></a>

            <a href="{% url "blog" %}">
            <div class="nav-link">
                <span>Blog</span>
                <div class="underline"></div>
            </div></a>

            <a href="{% url "contact" %}">
            <div class="nav-link">
                <span>Contact</span>
                <div class="underline"></div>
            </div></a>

            <a href="{% url "testimonials" %}">
            <div class="nav-link">
                <span>Testimonials</span>
                <div class="underline"></div>
            </div></a>
        </nav>
    </section>
</div>