<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Designminted Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    {% load staticfiles %}
    <link href="{% static "blogwebapi/css/styles.css" %}" rel="stylesheet">
    <script src="{% static "blogwebapi/js/jquery-2.1.4.min.js" %}"></script>
    <script src="{% static "blogwebapi/vendor/tinymce/tinymce.min.js" %}"></script>
    <script src="{% static "blogwebapi/js/main.js" %}"></script>
</head>
<body>