input[type=text], select, input[type=button], input[type=submit] {
  height: 40px;
  font: inherit;
  border-style: none;
  border-radius: 3px; }

main#bloglist div.blog-row {
  margin: 60px 0; }
  main#bloglist div.blog-row table {
    width: 100%;
    margin: 0 auto;
    table-layout: auto;
    border-collapse: collapse; }
  main#bloglist div.blog-row td {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 0.8em;
    text-align: left; }
    main#bloglist div.blog-row td:nth-of-type(2) {
      width: 50%; }
    main#bloglist div.blog-row td:last-of-type {
      width: 25%;
      text-align: center; }

#pagelist {
  width: 20%;
  display: table; }
  #pagelist .blog-row {
    display: table-row; }
    #pagelist .blog-row h2, #pagelist .blog-row a {
      display: table-cell; }
    #pagelist .blog-row h2 {
      width: 85%; }

body {
  font: 400 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f8f8f8; }

h1 {
  text-align: center;
  margin: 20px 0; }

nav {
  width: 60%;
  margin: 0 auto;
  overflow: auto;
  text-align: center; }

a.nav-link {
  display: inline-block; }
  a.nav-link:not(:last-of-type) {
    margin-right: 10px; }

main {
  width: 60%;
  margin: 2% auto; }
  main#bloglist {
    text-align: center; }

p img {
  width: 250px; }

section.blog-content {
  margin-top: 30px; }

.form-row {
  position: relative;
  margin: 0 0 30px;
  padding-top: 20px; }
  .form-row:after {
    content: " ";
    display: table;
    clear: both; }
  .form-row label {
    line-height: normal; }
  .form-row input[type=button] {
    display: block;
    float: left; }
  .form-row i.fa-close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 0; }

.row {
  margin: 10px 0; }

label {
  line-height: 40px;
  float: left;
  margin-right: 10px; }

input[type=text] {
  width: 350px;
  padding: 0 10px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCC;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }

select {
  width: auto;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCC;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }

input[type=button], input[type=submit] {
  width: auto;
  background-color: #6B6B6B;
  font-family: Helvetica;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 4px;
  color: #FFF;
  transition: background-color 300ms;
  padding: 5px 20px; }
  input[type=button]:hover, input[type=submit]:hover {
    background-color: #E09B5E; }

footer {
  margin: 30px 0;
  text-align: center;
  font-size: 0.8em; }

@media only screen and (max-device-width: 700px) {
  main, nav {
    width: 95% !important; }

  input[type=text] {
    width: auto; } }

/*# sourceMappingURL=styles.css.map */
